// This file contains styling which overrides the standard Liferay portlets
// Things like styling the search engine results page, the blog etc.
// --------


// All portlets
.portlet {

	background: $vgrintra-white;

	padding: 1.0em;

	.portlet-topper {
		.portlet-title {

			color: $vgrintra-yellow;

			font-size: 1.325em;

			img {
				display: none;
			}
		}
	}

	.portlet-content {

		padding: 0;

		.portlet-body {
			padding: 0;
		}
	}

}

.portlet-borderless-container {
	min-height: 0;
}


// Navigation Portlet
.portlet-navigation {

	.nav-menu {
		ul {
			list-style: none;
			margin: 6px;
			padding: 0;

			li {

				margin: 3px 0;
				padding: 3px 0;

				a {
					color: $vgrintra-mineshaft;
					display: inline-block;
					line-height: 1.0;
					position: relative;
					padding-right: 20px;

					&:hover {
						background: transparent url(../images/arrows/05_right.png) right center no-repeat;
						text-decoration: none;
					}

				}
			}

			&.level-1 {

				border-top: 1px solid $vgrintra-alto;

				li {

					border-bottom: 1px solid $vgrintra-alto;

					a {
						font-size: 1.1em;
						text-transform: uppercase;
					}

					ul {
						li {
							border-bottom: 0;
							a {
								font-size: 1.0em;
								text-transform: none;
							}
						}
					}

				}
			}


		}
	}

}


// Web Content Display and Asset Publisher
.portlet-journal-content,
.portlet-asset-publisher {

	.portlet-content {
		.portlet-body {
			padding-left: 0;
			padding-right: 0;
		}
	}

}

// Asset Publisher
.portlet-asset-publisher {
	.taglib-header {
		display: none;
	}

	.asset-full-content {

		.asset-content {
			margin: 0;
		}
	}

	.portlet-body {

		.asset-user-actions {
			@include clearfix();

			margin-bottom: 3px;

			div:first-child {
				margin-left: 0;
			}

			div:last-child {
				margin-right: 0;
			}
		}
	}
}

// Blogs Portlet
.portlet-blogs {

	.entry-date {
		background: none;
		color: $vgrintra-graydove;
		padding-left: 0;
	}

	.entry-footer {
		@include pie-clearfix();
	}

	.entry-author {
		background: none;
		border-right: 0;
		color: $vgrintra-graydove;
		padding-left: 0px;
	}

}
