.link-button {
  background: $vgrintra-yellow;
  color: $vgrintra-white;
  display: inline-block;
  padding: 0.3em 0.6em;
  margin-left: 5px;
  text-decoration: none;

  &:hover {
    background: tint($vgrintra-yellow, 10%);
    color: $vgrintra-white;
    text-decoration: none;
  }

  &.link-button-secondary {
    background: $vgrintra-alto;
    color: $vgrintra-mineshaft;

    &:hover {
      background: tint($vgrintra-alto, 10%);
      color: $vgrintra-mineshaft;
    }

  }

}
