// Colors
$block-navigation-bg: $vgrintra-white;
$block-navigation-border-hover: $vgrintra-yellow;
$block-navigation-title-color: $vgrintra-yellow;
$block-navigation-text-color: $vgrintra-mineshaft;
$block-navigation-border-color: $vgrintra-mineshaft;

// Sizes
$block-navigation-item-height: 200px;

.block-navigation {

  @include pie-clearfix();

  .block-navigation-item {
    float: left;
    width: 33%;

    > a {
      background: $block-navigation-bg;
      border: 1px solid transparent;
      color: $block-navigation-text-color;
      display: block;
      height: 180px;
      margin-bottom: 1em;
      margin-right: 1em;
      overflow: hidden;
      padding: 1em;
      text-decoration: none;
      @include pie-clearfix();
      @include word-break(normal);

      &:hover {
        border-color: $block-navigation-border-hover;
        text-decoration: none;
      }

      .title {
        border-bottom: 1px solid $block-navigation-title-color;
        color: $block-navigation-title-color;
        font-size: 1.1em;
        margin: 0 0 0.8em 0;
        padding: 0 0 0.5em 0;
        text-align: center;
        text-transform: uppercase;
      }

      .img-wrap {
        float: left;
        padding-top: 0.35em;
        width: 27%;

        img {
          width: 100%;
        }
      }

      .description {
        margin-left: 32%;
      }

    }


  }

}
