.news-box {

  > h1 {
    background: $vgrintra-emperor;
    color: $vgrintra-white;
    font-size: 1.1em;
    line-height: 1.0;
    margin: -1em -1em 1em -1em;
    padding: 10px;
    text-transform: uppercase;
  }

  .news-items {
    @include pie-clearfix();

    .news-item {
      //border: 1px solid $vgrintra-alto;

      float: left;
      width: 50%;

      @include box-sizing(border-box);

      .news-item-inner {
        background: transparent url(../images/theme/news/icon-news-cat1.png) 0.6em 0.6em no-repeat;
        background-size: 3.4em 3.4em;
        border: 1px solid $vgrintra-mercury;
        border-width: 0 1px 1px 0;
        height: 100px;
        overflow: hidden;
        padding: 1.0em 1.0em 1.0em 5.0em;
      }

      // Every even
      &:nth-child(2n) {
        .news-item-inner {
          border-right: none;
        }
      }

      // Two last
      &:nth-last-child(1),
      &:nth-last-child(2) {
        .news-item-inner {
          border-bottom: none;
        }
      }


      .news-item-date {
        color: $vgrintra-graydove;
      }

      .news-item-heading {
        color: $vgrintra-yellow;
        font-weight: bold;
      }

      .news-item-summary {}

      > a {
        color: $text-color;
        display: block;
        text-decoration: none;

        &:hover {
          text-decoration: none;

          .news-item-inner {
            background-color: $vgrintra-wildsand;
          }
        }
      }


    }

  }

}
