.staff-week-box {
  .content-box-bd {

    //line-height: 22px;

    > a {
      color: $text-color;
      display: block;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    img {
      float: left;
      margin-right: 0.6em;
      max-width: 80px;
    }

  }
}
