.staff-week-listing {

  .staff-week-item {

    .staff-week-item-inner {
      border-top: 1px solid $vgrintra-mercury;
      padding: 1.0em 0.5em;

      @include pie-clearfix();
    }

    &:last-child {
      .staff-week-item-inner {
        border-bottom: 1px solid $vgrintra-mercury;
      }
    }

    .staff-week-item-image {
      float: left;
      width: 20%;

      img {
        width: 100%;
      }
    }

    .staff-week-item-content {
      float: right;
      width: 77%;
    }

    .staff-week-item-heading {
      color: $vgrintra-yellow;
      font-size: 1.1em;
      font-weight: bold;
    }

    .staffweek-item-summary {}

    > a {
      color: $text-color;
      display: block;
      text-decoration: none;

      &:hover {
        text-decoration: none;

        .staff-week-item-inner {
          background-color: $vgrintra-wildsand;
        }
      }
    }



  }

}
