.staff-week-box {
  .content-box-bd {

    //line-height: 22px;

    > a {
      color: $text-color;
      display: block;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      > img {
        display: block;
        float: none;
        margin: 0;
        max-width: 100%;
        width: 100%;

      }

    }


  }
}
