
#header {
	@include pie-clearfix();

	background: $vgrintra-white;

	#topBar {
		background: $vgrintra-yellow;
		padding: 0.7em 0;
		@include pie-clearfix();

		.logo-vgr {
			display: block;
			float: left;
			position: relative;

			img {
				width: 100%;
			}
		}

		.top-bar-tools {
			display: block;
			float: right;
			position: relative;

			.portlet-boundary {
				margin-bottom: 0;
			}

			.portlet-journal-content {
				display: inline-block;

				// Hide portlet bar
				.portlet-borderless-bar {
					display: none;
				}

				// Hide edit controls
				.lfr-meta-actions {
					display: none;
				}

			}

			a {
				border-right: 1px solid $vgrintra-white;
				color: $vgrintra-white;
				display: inline-block;
				line-height: 1.0;
				margin: 0 10px 0 0;
				padding: 0 10px 0 0;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

				&.signin,
				&.signout {
					border-right: 0;
					margin-right: 0;
					padding-right: 0;
				}

			}

			ul.navigation-list {
				li {
					display: inline-block;
					margin: 0;
				}
			}


		}

	}

	#navBar {
		border-bottom: 1px solid $vgrintra-mercury;
		padding: 0;
		position: relative;
		@include pie-clearfix();

		.row-fluid {
			position: relative;
		}

		.logo-wrap {
			float: left;
			height: 45px;
			overflow: hidden;
			padding: 0.6em 0;
			width: 20%;

			height: $navbar-height;
		}

		.tools-wrap {
			float: right;
			padding: 0.6em 0;
			width: 20%;

			height: $navbar-height;
		}

		.navigation-wrap {
			margin: 0 20%;
			padding: 0.5em 0 0 0;
		}

		[class*="span"] {
			//margin-left: 0;
			//margin-right: 0;
		}

		.logo-anslaget {
			display: block;
			width: 100%;
		}


	}



}

// More space on top when dockbar is displayed.
.page-edit {
	#header {

		#topAlert {
			padding-top: 2.5em;
		}


		#topBar {
			padding-top: 2.5em;
		}

		#topAlert + #topBar {
			padding-top: 0.7em;
		}

	}
}
