body {
  background: #fff;
}


// Links
$new-link-color: #005195;

a {
	color: $new-link-color;
	text-decoration: none;

	&:visited {
    color: $new-link-color;
	}

	&:hover {
    color: $new-link-color;
		text-decoration: underline;
	}

	&:active {
    color: $new-link-color;
	}
}


// Also changed vgr-logo file in portal_normal.ftl

#header {

  //@include background-image(linear-gradient(#ffb93c, $vgrintra-yellow));
  //

  #topBar {
    //background: $vgrintra-white;
    //background: $vgrintra-yellow;
    //background: $bg;
    //border-top: 5px solid $vgrintra-tundora;
    //background: transparent;
    //background: $vgrintra-tundora;
    //padding: 0.2em 0;
    //background: $vgrintra-white;

    //border: 1px solid #ffc866;
    //border-width: 0 0 1px 0;


    .top-bar-tools {

      a {
        //border-right-color: $vgrintra-mineshaft;
        //color: $vgrintra-mineshaft;
      }

    }

  }

  #logoBar {
    .logo-bar-inner {
      text-align: center;
      margin: 20px auto;
    }
  }

  #navBar {
    //background: $vgrintra-yellow;
    //background: transparent;

    //border: 1px solid #ffc866;
    //border-width: 1px 0 0 0;

    .logo-wrap,
    .tools-wrap {
      display: none;
    }

    .navigation-wrap {
      padding: 0;
    }

  }

  .main-navigation {
    background: transparent;
    padding: 0;

    //border: 1px solid $vgrintra-white;
    //border-width: 1px 1px 0 1px;
    //@include border-radius(3px 3px 0 0);


    > ul {
      > li {
        > a {
          background: transparent;
          border: 0;
          //color: $vgrintra-white;
          height: auto;
          margin: 0;
          padding: 0.6em 0.4em;
          @include border-radius(0);
        }

        &.on {
          > a {
            //background: $vgrintra-white;
            border: none;
            //color: $vgrintra-mineshaft;
          }
        }

        &.dropdown {
          > a {
            &:after {
                //@include triangle(10px, $vgrintra-white, down);

                @include medium {
                  top: 2px;
                }
            }
          }

        }


      }
    }

  }

}

// portlet
.portlet {
  @include border-radius(2px);
  background: transparent;
}

.breadcrumb {
  background: transparent;
}

// Content Box

.content-box {

  margin: -1em;
  padding: 0 1em 1em 1em;

  @include border-radius(2px);
  border: 1px solid $vgrintra-mercury;
  border-top-width: 0;

  > h2 {
    background: $vgrintra-blue;
    border: none;
    color: $vgrintra-white;
    margin: 0 -1em 0 -1em;
    //margin: 0;
    padding: 0.5em;

    background: white;
    color: $vgrintra-tundora;
    border-left: 7px solid $vgrintra-yellow;
    //border-bottom: 1px solid $vgrintra-yellow;
    border-left-width: 10px;
    border-color: $vgrintra-tundora;
    border-color: $vgrintra-yellow;

    background: $vgrintra-mercury;
    //background: $vgrintra-wildsand;

    //background: $vgrintra-yellow;
    //color: $vgrintra-white;

    @include border-radius(2px 2px 0 0);

  }

  .content-box-bd {
    //padding: 1em 0;
    padding-top: 1em;
  }

  .more-link-wrap {
    bottom: 1em;
    right: 1em;
  }

}

.columns-intra-2-4-a .row-2 .span3 .content-box {
  min-height: 430px;
}


// News
.news-box {

  margin: -1em;
  margin-top: 0;
  padding: 0 1em 1em 1em;

  @include border-radius(2px);
  border: 1px solid $vgrintra-mercury;


  .news-items {
    .news-item {
      .news-item-heading {
        color: $vgrintra-tundora;
        font-weight: normal;
      }
    }
  }

  .more-link {
    bottom: 1em;
    right: 1em;
  }


}
